[submodule "fpblockaverager"]
    path    = moldynplot/fpblockaverager
    url     = https://github.com/KarlTDebiec/fpblockaverager.git
    ignore  = dirty
[submodule "myplotspec"]
    path    = moldynplot/myplotspec
    url     = https://github.com/KarlTDebiec/myplotspec.git
    ignore  = dirty
